# ─── Mounts ───────────────────────────────────────────────────────────────────
MOUNTS_DIR=./mounts

# ─── Common ───────────────────────────────────────────────────────────────────
COMMON_DIR=./common

# ─── Projects ─────────────────────────────────────────────────────────────────
PROJECTS_DIR=./projects

# ─── Kokoro ───────────────────────────────────────────────────────────────────
KOKORO_IMAGE=ghcr.io/remsky/kokoro-fastapi-cpu:latest
KOKORO_PORT=8880
KOKORO_PORT_SSH=22000
KOKORO_DIR=./services/kokoro

# ─── Ollama ───────────────────────────────────────────────────────────────────
OLLAMA_IMAGE=ollama/ollama:rocm
OLLAMA_PORT=11434
OLLAMA_PORT_SSH=22001
OLLAMA_DIR=./services/ollama

# ─── Open WebUI ─────────────────────────────────────────────────────────────────
OPENWEBUI_DIR=./services/openwebui
OPENWEBUI_IMAGE=ghcr.io/open-webui/open-webui:0.6.10
OPENWEBUI_PORT=3001
OPENWEBUI_PORT_SSH=22002

# ─── Hermes ───────────────────────────────────────────────────────────────────
HERMES_DIR=./services/hermes
HERMES_PORT_SSH=22003
HERMES_PORT_WEB=9119
HERMES_HOSTNAME_WEB=0.0.0.0

# ─── OpenCode ──────────────────────────────────────────────────────────────────
OPENCODE_DIR=./services/opencode
OPENCODE_PORT_SSH=22004
OPENCODE_PORT_WEB=4096
OPENCODE_HOSTNAME_WEB=0.0.0.0